.card {
  width: 16rem;
}

.container {
  padding-left: 1rem;
}

.card-content {
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-buttons {
  padding: 0.5rem 4rem 0.5rem 4rem;
  display: grid;
  color: rgb(var(--color-primary));

  :hover {
    background-color: rgb(var(--color-primary));
    color: var(--background-card);
  }
}

.product-description {
  max-width: 16rem;
  padding: 1rem;
}

.viewport {
  height: 7.4rem;
  width: 14rem;
}

.img-sizing {
  height: 9rem;
  width: auto;
  margin: auto;
}
#product-hover-section{
  width: 16rem;
}