.products-container {
  padding-left: 3rem;
}

.header {
  display: grid;
  grid-template-columns: 0.6fr 0.8fr 0.6fr;
  width: 100%;
  background-color: rgb(var(--color-primary));

  .title {
    font-weight: 700;
    font-size: 2rem;
    color: var(--background-card);
  }
}

.sidenav-container {
  background: var(--background-base);
  height: 100%;
  width: 10rem;
  transition: transform .5s cubic-bezier(.2, 1, .3, 1);
}

.no-results {
  text-align: center;
  max-width: 40rem;
}
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 1.34375em;
  margin-bottom: -1.34rem;
}